{% extends "layout/main.html" %}

{% block title %}MQTT{% endblock %}
{% block body %}

<div class="row my-4">
    <div class="col-lg-8">
        <h2>Connection</h2>
        <form id="con-form">
            <div class="form-group mb-3">
                <input type="text" required name="host" id="host" class="form-control" placeholder="Host">
            </div>
            <div class="form-group mb-3">
                <input type="text" required name="port" id="port" class="form-control" placeholder="Port">
            </div>
            <div class="input-group mb-5">
                <input type="text" name="cid" id="cid" class="form-control" placeholder="ClientId">
                <input type="text" name="username" id="username" class="form-control" placeholder="Username">
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            </div>
            <div class="input-group mb-3">
                <input type="text" name="lwtopic" id="lwtopic" placeholder="lastWill Topic" class="form-control">
                <div class="input-group-prepend"><label for="lwqos" class="input-group-text">QoS</label></div>
                <select class="form-control" name="lwqos" id="lwqos" style="max-width: 20%;">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="lwretain">
                <label class="form-check-label" for="lwretain">
                    LastWill Retain
                </label>
            </div>
            <div class="form-group mb-3">
                <textarea name="lwmsg" id="lwmsg" placeholder="lastWill Message" class="form-control"></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Connect">
            <span id="con-status"></span>
        </form>
    </div>
    <div class="col-lg-4" id="subs">
        <h2>Subscribtions</h2>
    </div>
</div>
<hr>
<div class="btns mb-3 row">
    <div class="col-lg-4">
        <button disabled class="btn btn-danger btn-lg" id="discon">Disconnect</button>
    </div>
    <div class="col-lg-4">
        <button disabled class="btn btn-primary btn-lg" data-toggle="modal" id="sub-btn" data-target="#SubscribeForm">Make Subscribtion</button>
    </div>
    <div class="col-lg-4">
        <button disabled class="btn btn-primary btn-lg" data-toggle="modal" id="pub-btn" data-target="#PublishForm">Publish Message</button>
    </div>
</div>
<hr>
<div class="msgs pb-5 px-3">
    <h2>Messages</h2>
    <div id="messages"></div>
</div>



<div class="modal fade" id="SubscribeForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Subscribe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="sub-form">
                    <div class="form-group mb-3">
                        <input type="text" required name="topic" id="topic" class="form-control" placeholder="Topic">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"><label for="qos" class="input-group-text">QoS</label></div>
                        <select class="form-control" name="qos" id="qos">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Subscribe"> <span id="sub-status"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="PublishForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Publish</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="pub-form">
                    <div class="input-group mb-3">
                        <input type="text" required name="topic" id="pub-topic" class="form-control" placeholder="Topic">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend"><label for="pub-qos" class="input-group-text">QoS</label></div>
                        <select class="form-control" name="qos" id="pub-qos">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                        </select>
                    </div>
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="checkbox" id="retain">
                        <label class="form-check-label" for="retain">
                            Retained
                        </label>
                    </div>
                    <br>
                    <textarea name="payload" id="payload" class="form-control" placeholder="Message"></textarea>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Publish"> <span id="pub-status"></span>
                    <span id="pub-status"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



{% endblock %}